---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import InternalLink from '../components/InternalLink.astro';
const gifPath = "/src/assets/index/"
---

<!doctype html>
<html lang="en">
    <style>
        main{
            width: 1400px;
            text-align: center;
        }
    </style>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h2>Graphics Programming</h2>
			<p>
                Welcome! On this site I am planning to release blogs and articles about my graphics programming journey.
            </p>
            <p>
                If that sounds interesting to you checkout the <InternalLink href="/blog"> blog tab</InternalLink>.
			</p>
            <p>
                Here some demo thumbnails of the projects i have been working on:
            </p>



        <div align="center">

            <a href="https://github.com/Hiqqup/processing_sketches_01/tree/main/noise_egg_remake"><img src={gifPath + "noise_egg_remake.gif"}></a>
            <a href="https://github.com/Hiqqup/processing_sketches_01/tree/main/angel_rasterized"><img src={gifPath + "rasterized_angel.gif"}></a>
            </br>
            <a href="https://github.com/Hiqqup/minecraft_clone"><img src={gifPath + "minecraft_clone.gif"}></a>
            <a href="https://levixthxn.itch.io/franken-game-jam-25"><img src={gifPath +"kallax_duebeln.gif"}></a>
            </br>
            <a href="https://github.com/Hiqqup/breakout-cpp"><img src={gifPath + "breakout.gif"}></a>
            <a href="https://hiqqup.itch.io/no-time-to-mine"><img src={gifPath + "no_time_to_mine.gif"}></a>
        </divali>

        </main>
		<Footer />
	</body>
</html>
